.App {
  display: flex;
  flex-direction: column;
}


.list-item {
  cursor: pointer;
  margin-left: 10px;

}
.list-item:hover {
  color: rgb(8, 16, 92);
  font-size: 1.2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: #343a40;
  color: white;
}

.spinner-container {
  margin-top: 24vh;
  margin-left: 50%;
  padding-bottom: -10%;
}

