.App {
  display: flex;
  flex-direction: column;
}


.list-item {
  cursor: pointer;
  margin-left: 10px;

}
.list-item:hover {
  color: rgb(8, 16, 92);
  font-size: 1.2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: #343a40;
  color: white;
}

.spinner-container {
  padding-left: 50%;
  padding-top: 59%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  height: calc(100% - 30px);
}

